@model tpCatalinaV4.Models.Horaire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tache.Duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tache.Duree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilisateur.NomComplet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilisateur.NomComplet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tache)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tache.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HoraireID">Mettre a jour</a> |
    <a asp-action="Index">Retour a l'horaire general</a>
</div>
